body{
    background-image: url("https://us.123rf.com/450wm/panychev/panychev1605/panychev160500206/56493783-resumen-de-fondo-de-color-rojo-oscuro-plantilla-de-dise%C3%B1o-tel%C3%B3n-de-fondo-de-textura-.jpg?ver=6");
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1350px;
    
}
.buscar{
    color: white;
    text-align: left; 
    margin-top: 30px;
}
.chispasblancas{
    width: 250px;
   
}
.blancas{
    margin-left: -50px;
    margin-top: 50px;
}
.chispasamargas{
    width: 250px;  
}
.amargo{
    margin-top: 200px;
    margin-left: 670px;
}
.chispasnormal{
    width: 250px;
   
}
.normal{
    margin-left: -50px;
    margin-top: 250px;
}
.container{
    color: white;
    text-align: left;
    margin-top: 20px;
}
.carrito{
    color:white;
    position: absolute;
	top: 26%;
	left: 90%;
	margin: -150px 0 0 10px;
    
}
.botonamarillo{
    margin-top: 60px;
    text-align: right;
}
.cantidad{
    margin-left: 350px;
    color:white;
    margin-top: -120px;
}
.cantidad2{
    margin-left: -450px;
    color:white;
    margin-top: -180px;
}
.cantidad3{
    margin-left: 350px;
    color:white;
    margin-top: -100px;
}



